---
import Navigation from "@components/layout/Navigation.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const posts = await getCollection("posts", ({ data }) => !data.draft);
    const years = [
        ...new Set(
            posts.map((post) => new Date(post.data.createdAt).getFullYear()),
        ),
    ];

    return years.map((year) => ({
        params: { year: year.toString() },
        props: { year },
    }));
}

const { year } = Astro.params;
const collection = "posts";
const posts = await getCollection(collection, ({ data }) => !data.draft);

const yearPosts = posts
    .filter(
        (post) =>
            new Date(post.data.createdAt).getFullYear().toString() === year,
    )
    .sort((a, b) => b.data.createdAt.valueOf() - a.data.createdAt.valueOf());
const ogImage = `/posts/${year}/og.png`;
---

<Layout title={`Posts created in ${year}`} ogImage={ogImage}>
    <Navigation selected={collection} />
    <main>
        <h1 class="page-title">
            Posts created in {year}
        </h1>
        <div class="toc">
            {
                yearPosts.map((post) => (
                    <article class="entry">
                        <h2>
                            <a href={`/${collection}/${post.id}`}>
                                {post.data.title}
                            </a>
                        </h2>
                        <div class="line" style="opacity: 0;" />
                        <time datetime={post.data.createdAt.toISOString()}>
                            {
                                new Date(post.data.createdAt)
                                    .toISOString()
                                    .split("T")[0]
                            }
                        </time>
                        {post.data.description && (
                            <p>{post.data.description}</p>
                        )}
                    </article>
                ))
            }
        </div>
    </main>
</Layout>
