---
import { SEO } from "astro-seo";
import "@styles/theme.css";
import "@styles/base.css";
import Footer from "@components/layout/Footer.astro";
import ScrollToTop from "@components/layout/ScrollToTop.astro";

interface Props {
	theme?: "posts" | "notes";
	title?: string;
}

const { theme, title = "" } = Astro.props;
const pageTitle = title.trim() ? `Thought Eddies | ${title}` : "Thought Eddies";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&family=Crimson+Pro:ital,wght@0,400;0,600;1,400&family=Inter:wght@300;400;500;600&family=JetBrains+Mono&display=swap"
			rel="stylesheet"
		/>
		<script is:inline>
			// Immediately check theme preferences
			(function () {
				const savedTheme = localStorage.getItem("theme");
				const systemDark = window.matchMedia(
					"(prefers-color-scheme: dark)",
				).matches;
				const theme = savedTheme || (systemDark ? "dark" : "light");
				document.documentElement.classList.add(theme);
			})();
		</script>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
		<SEO
			title={pageTitle}
			description="An Experimental Digital Garden"
			openGraph={{
				basic: {
					title: "Thought Eddies",
					type: "website",
					image: "/og-image.png",
				},
			}}
		/>
		<title>{pageTitle}</title>
	</head>
	<body class={theme}>
		<main>
			<div class="content-wrapper">
				<slot />
			</div>
			<Footer />
		</main>
		<ScrollToTop />
		<script
			data-goatcounter="https://thought-eddies.goatcounter.com/count"
			async
			src="//gc.zgo.at/count.js"></script>
	</body>
</html>
