---
import Navigation from '@components/layout/Navigation.astro';
import Layout from './Layout.astro';
import { ZoomableDocument } from '@components/layout/ZoomableDocument';

const { frontmatter, Content } = Astro.props;
const theme = "notes";

---

<Layout theme={theme}>
    <Navigation selected={theme} />
    <article>
        <header>
            <h1>{frontmatter.title}</h1>
            <time datetime={frontmatter.createdAt}>
                {new Date(frontmatter.createdAt).toISOString().split('T')[0]}{frontmatter.location ? ` · ${frontmatter.location}` : ''}
            </time>
        </header>
        <div class="content">
            <ZoomableDocument client:load levels={frontmatter.zoomLevels}>
                <Content />
            </ZoomableDocument>
        </div>
    </article>
</Layout>
